<div class="search">
  <form #form="ngForm" (submit)="onSubmit()" >
    <input type="text" placeholder="Search City" name="city" [(ngModel)]="cityName" >
  </form>
<div class="container" *ngIf="weatherData && astroData && forecast">
  <div class="upper-data">
    <img src="../assets/snow.jpg" alt="snow" *ngIf="weatherData.current.temp_c >= 15">
    <img src="../assets/sunny.jpg" alt="sunny" *ngIf="weatherData.current.temp_c < 15">
        <div class="weather-data">
          <div class="location">{{weatherData.location.name}}</div>
          <div class="temperature">{{weatherData.current.temp_c | number:'1.0-0'}}°C</div>
          <div class="location">{{weatherData.current.condition.text}}</div>
          <div class="location">{{astroData.location.lat}}</div>
          <div class="location">{{forecast.forecast.forecastday[0].date}}</div>
        </div>
  </div>
  <div class="lower-data">
    <div class="details">
      Details
    </div>
    <div class="more-info-container">
      <!--1-->
      <div class="info-block">
        <div class="info-block-label">
          <!-- <img src="" alt=""/> -->
          <fa-icon [icon]="faTemperatureLow" class="image"></fa-icon>
          <!-- <span>min</span> -->
        </div>
        <div class="info-block-value">
          {{10 | number:'1.0-0'}}°C
        </div>
      </div>
      <!--2-->
      <div class="info-block">
        <div class="info-block-label">
          <!-- <img src="" alt=""/> -->
          <fa-icon [icon]="faTemperatureLow" class="image"></fa-icon>
          <!-- <span>max</span> -->
        </div>
        <div class="info-block-value">
          {{25 | number:'1.0-0'}}°C
        </div>
      </div>
      <!--3-->
      <div class="info-block">
        <div class="info-block-label">
          <!-- <img src="" alt=""/> -->
          <fa-icon [icon]="faTemperatureLow" class="image"></fa-icon>
          <!-- <span>humidity</span> -->
        </div>
        <div class="info-block-value">
          77%
        </div>
      </div>
      <!--4-->
      <div class="info-block">
        <div class="info-block-label">
          <!-- <img src="" alt=""/> -->
          <fa-icon [icon]="faTemperatureLow" size="2x"></fa-icon>
          <!-- <span>wind</span> -->
        </div>
        <div class="info-block-value">
          11km/h
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container">
  <div class="upper-data">
    <img src="../assets/snow.jpg" alt="snow" *ngIf="14>15">
    <img src="../assets/sunny.jpg" alt="sunny" *ngIf="14<15">
        <div class="weather-data">
          <div class="location">helsinki</div>
          <div class="temperature">{{14.40 | number:'1.0-0'}}°C</div>
        </div>
  </div>
  <div class="lower-data">
    <div class="details">
      Details
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <fa-icon [icon]="faTemperatureLow" class="image"></fa-icon>
        </div>
        <div class="info-block-value">
          {{10 | number:'1.0-0'}}°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          
          <fa-icon [icon]="faTemperatureLow" class="image"></fa-icon>
          
        </div>
        <div class="info-block-value">
          {{25 | number:'1.0-0'}}°C
        </div>
      </div>
     
      <div class="info-block">
        <div class="info-block-label">
          
          <fa-icon [icon]="faTemperatureLow" class="image"></fa-icon>
          
        </div>
        <div class="info-block-value">
          77%
        </div>
      </div>
      
      <div class="info-block">
        <div class="info-block-label">
          
          <fa-icon [icon]="faTemperatureLow" size="2x"></fa-icon>
          
        </div>
        <div class="info-block-value">
          11km/h
        </div>
      </div>
    </div>
  </div>
</div> -->
<router-outlet></router-outlet>
